.App {
  text-align: center;
  font-family: "Raleway";

  scroll-behavior: smooth;

  --navy: #0a192f;
  --white: #ffffff;
  --raspberry: #e31b6d;
  --cyan: #64ffda;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection { background: var(--raspberry); }
::selection { background: var(--raspberry); }

.FullPage {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.Background {
  height: 100%;
  width: 100%;
  position: absolute;
}